* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
a {
    display: block;
    text-decoration: none;
    color: black;
}
.article {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    word-wrap: normal;
    margin-bottom: 10px;
}

.article__content {
    text-align: left;
    word-wrap: normal;
}